/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
ul.shortCustom li a {
    color: #ffffff;
    text-decoration: none;
}

ul.shortCustom li {
    color: red;
}

ul.shortCustom li {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
}

ul.shortCustom {
    text-align: center;
    padding: 12em 0em 0 8em;
}

ul.shortCustom {
    padding: 6.5em 0em 0 1em;
}

ul.shortCustom {
    padding: 8em 0em 0 2em;
}

@media(max-width:736px) {
    ul.shortCustom {
        padding: 10em 0em 0 3em;
    }

    h3.head {
        font-size: 2.5em;
    }
}

ul.shortCustom {
    padding: 10em 0em 0 5em;
}

@media(max-width:1024px) {
    ul.shortCustom {
        padding: 10em 0em 0 5em;
    }

    .footer-left h2 a {
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .footer_inner_info {
        width: 95%;
        margin: 0 auto;
    }

    .top_nav_right {
        right: 3.5%;
        margin-top: 48px;
    }
}